body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    margin: 20px;
}

h1 {
    margin-bottom: 10px;
}

input[type="text"], input[type="file"] {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#fileCount {
    font-size: 14px;
    color: gray;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px auto;
    background: white;
    border-radius: 5px;
    cursor: grab;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkgreen;
}
