body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="file"], input[type="text"] {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: darkgreen;
}

#resetButton {
    background-color: red;
}

#resetButton:hover {
    background-color: darkred;
}

ul {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

ul li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: grab;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outputFileName {
    font-weight: bold;
    margin-top: 10px;
}
